*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
   background-color: blue;
   width: 100%;
   height: 40px;
   background: linear-gradient(125px,0,255px,0.5);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 600px;
   
   
}
/* img{
    opacity: 0.5;
} */
.subcont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none; 
}
.btn{
    background-color: palevioletred;
    color: whitesmoke;
    width: 80px;
    height: 30px;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 20px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
 .btn:hover{
    background-color: black;
    color: whitesmoke;   
}
.logo{
    color: palevioletred;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.logo:hover{
    color: black;
}
a{
    text-decoration: none;
    color: palevioletred;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 7px;
    left: 20px;
    /* right: 20px; */
    margin-left: 20px;


}
a:hover{
    color: black;
}
.heading1{
    color: palevioletred;
   position: absolute;
   left: 25%;
   top: 30%;
}
.parah1{
    position: absolute;
    top: 40%;
    left: 25%;
    color: palevioletred;
    font-weight: bold;
}
.btn1{
    position: absolute;
    top: 48%;
    left: 33%;
    background-color: palevioletred;
    border: none;
    cursor: pointer;
    width: 130px;
    height: 50px;
    font-size: large;
    color: whitesmoke;
    border-radius: 20px;
    transition: all 1s ease-in ;
    animation-name: colorAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 4;
}
@keyframes colorAnimate{
    from {background-color: palevioletred;};
    to {background-color: green;}
}
.btn1:hover{
    background-color: black;
   
}
.image{
    background-color: blue;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 60%;
    top: 20%;
    background-image: url(./img-slider-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: padding-box;
}
.container2{
    background-color: whitesmoke;
    color: black;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
     
}
.subcont2{
    background-color: rgb(64, 64, 177);
    margin: 15px;
    height: 200px;
    width: 50%;
    text-align: center;
    color: palevioletred;
      
}
.ad{
    background-color: aliceblue;
    border-radius: 50%;
    width: 60px;
    height: 70px;
    background-image: url(./WhatsApp\ Image\ 2022-10-14\ at\ 4.13.36\ AM.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 20%;
    left: 40%;
}
.md{
    background-color: aliceblue;
    border-radius: 50%;
    width: 60px;
    height: 70px;
    background-image: url(./WhatsApp\ Image\ 2022-10-14\ at\ 4.13.36\ AM.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 20%;
    left: 40%;
}
.gallery{
    background-color: aliceblue;
}
img{
    width: 404px;
    height: 202px;
    margin: 10px;
    position: relative;
    left: 130px;
}
.footer{
    background-color: blue;
    width: 100%;
    text-align: center; 
    height: 50px;
    font-size: large;
    font-weight: bold;
    color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
}



